/*--------------aca empieza tasaciones-------------------------*/
.contenedor-tasaciones {
	width: 80%;
	margin: 0 auto;
}
.tasaciones {
	h2 {
		font-family: 'Poppins';
		font-size: 2.5em;
		font-weight: 900;
		text-align: center;
		border-bottom: solid 2px rgba(31, 143, 82, 0.2431372549);
		margin-top: 30px;
	}
	p {
		text-align: justify;
		font-family: 'Poppins';
		font-weight: 700;
	}
}
.imagentasacion {
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 700px;
	margin-bottom: 30px;
}


/*aca termina tasaciones*/