
$color_1: #ffffff;
$font-family_1: "Poppins";

$color_2: #101010;
$background-color_1: rgba(0, 0, 0, 0.3);
$background-color_2: rgba(255, 255, 255, 0.974);
$background-color_3: #81787859;
$background-color_4: rgba(255, 255, 255, 0.1);
$background-color_nosotros: #F9F9F9;