
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    font-family: 'Poppins';
    
}

/*aca empieza el nav */
/*aca empieza barra superior*/
.header {
    text-align: center;
}

/*aca termina barra superior*/

/*aca empieza el nav*/

.conteiner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.25em 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.nav .logo{
 width: 5.1875em;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 2.5em;
}
.nav-menu-link{
    margin: 0.625em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    
}
.nav-menu-link:hover{
    color: #ffffff;
    
}
.nav-menu {
    display: flex;
    text-decoration: none;
}
.nav-menu-item {

    text-align: center;
    align-items: center;
    align-content: space-around; 
    transition: 0.5s;

}

.nav-menu-link {
    padding: 3px;
    
}

.nav-menu-item:hover {
     transition: 0.5s;
    transform: scale(1) translateY(-15px);
    
}

/*aca termina el nav con video*/

/*----------------NAV PARA SECCIONES----------------------*/

.seccionesnav{
    width: 100%;
    height: 245px;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-menu-link-negro{ 
    color: #000000;
     margin: 10 10px;
     text-transform: uppercase;
     text-decoration: none;
     font-weight: 700;
     font-size: 19px;
     font-family: 'Poppins', sans-serif;  
}
.nav-menu-link-negro:hover{ 
    color: #000000;
}
/*----------------NAV PARA SECCIONES----------------------*/
.toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 50px 20px;
    display: none;
    line-height: 50px;
}

/*aca termina el nav*/


/*empieza la section con el video ver esta todo en verde*/


.absolute {
    text-align: center;
}

.absolute h1 {
    font-size: 110px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    font-family: 'Poppins';
    animation:text-focus-in 1.5s linear 1s both;
    
}

/*TEXTO DEW GRACO CON FOCUS*/
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.absolute p {
    margin-top: -15px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    font-family: 'Poppins';
}


.back-video {
    width: 100%;
    height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 object-fit: cover;
 z-index: -1;
}



@media (max-aspect-ratio:16/9){
    .back-video {
        width: auto;
        height: 100%;
    }
}


.bottones-medio {
    margin: 150px 100px 20px 100px;
    display: flex;

    
}

.button-hover {
    padding: 10px 60px;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 130;
    text-transform: uppercase;  
}

.bottones-medio > a {
 margin: 0 80px;
 border-radius: 50px;
 border:  0.1mm solid;
 border-color: hsl(0, 0%, 100%);
 transition-property: all;
 transition-duration: 1s;
}
.bottones-medio > a:hover { 
 border-color: transparent;
 background-color: hsla(0, 0%, 0%, 0.326);
 
 
}

.button-hover:hover {
  cursor: pointer;
  font-weight: 500;
  
}

.social {
   position: absolute;
   bottom: 50px;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 60px;
}
.social li{
    list-style: none;

}

.social li {
    display: inline-block; 
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}
.social li a {
color: white;
}
.social li:hover{
    transform: scale(0.5) translateY(-15px);
}
/*-----------------aca empieza VENTAS------------------------*/

.contenedorventas{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
   
}
.tituloventas{
margin-bottom: 60px;

}
.tituloventas div {
    position: relative;
    overflow: hidden;
    margin-right: 25px;
    height: 116px;
}
.tituloventas div span {
    font-weight: 800;
    font-size: 110px;
    line-height: 110px;
    color: #101010;
    letter-spacing: -0.05em;
    font-family: 'Poppins';
    left: -2px;
    position: relative;
    top: 100%;
    animation: show 0.5s forwards linear;
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 90px 30px;
    margin-bottom: 150px;
   
}
.contenedorventas .items .item-ventas{
    border-bottom: 2px solid #349226;
    padding-bottom: 20px;
   
   
}
.contenedorventas .items .item-ventas h2{
    padding-top: 20px;
}
.contenedorventas .items .item-ventas .imagen-ventas{
 overflow: hidden;  
 height: 80%;
}

.contenedorventas .items img {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.contenedorventas .items .item-ventas img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition:all 0.5s;
   
}

.contenedorventas .items .item-ventas img:hover {
    transform: scale(1.15);
   
}



/*----------------ACA TERMINA VENTAS------------------------*/

/*--------------aca empieza tasaciones-------------------------*/

.contenedor-tasaciones{
    width: 80%;
    margin: 0 auto;
    
}

.tasaciones h2{
    font-family: 'Poppins';
    font-size: 30px;
    text-align: center;
    border-bottom: solid 1px #000000;
}
.tasaciones p{
    text-align: justify;
    font-family: 'Poppins';
    font-weight: 700;
}
.imagentasacion {
margin: 0 auto;
display: block;
width: 100%;
max-width: 800px;

}

/*aca termina tasaciones*/

/**/
/*aca empieza sobre nosotros*/

.empresa{
    margin: 0 auto;
    width: 100%;
    margin-top: -40px;
    padding-bottom: 60px; 
}

.contenedor-base {
margin: auto;
 max-width: 1080px;
 width: 100%;
 padding: 0 20px;
 display: flex;
 gap: 50px;
 border-bottom: solid 2px #1f8f523e;
 padding-bottom: 30px;
 align-items: center;
}
.experiencia {
    display: flex;
}
.numero-grande{
    
 margin-right: 20px;
  margin-bottom: 0px;
 background-image: url(/img/numerogrande.jpg);
 background-position: 50% 50%;
 background-size: cover;
 background-repeat: no-repeat;
 font-family:sans-serif;
 font-size: 11em;
 line-height: 1;
 font-weight: 900;
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}

.texto-grande{
 margin-top: 30px;
 margin-bottom: 10px;
 font-family: 'Poppins', sans-serif;
 font-size: 48px;
 line-height: 1.25em;
 
}
.objetivo {

}


/*GRID*/
.contenedordegrid{
    width: 100%;
    justify-content: center;
}
.grid{
    margin: auto;
    max-width: 1080px;
    width: 100%;
      padding: 0 20px;
      display: grid;
      width: 100%;
     grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
      column-gap: 20px ;
      align-items: center;
      justify-content: center;
   
}   
.nosotros {
    margin: 0px 1.25em;
    padding: 0 1.25em;
    padding: 5px;
    max-width: 34.375em;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 700px;
}

.nosotros div {
    position: relative;
    overflow: hidden;
    margin-right: 25px;
    height: 100px;
}
.nosotros div span{
    font-weight: 800;
    font-size: 4em;
    line-height: 60px;
    color: #101010;
    letter-spacing: -0.05em;
    left: -2px;
    position: relative;
    top: 10%;
    animation: show 1s forwards linear;
}

@keyframes show {
    0% {
        top: 100%;
    }
    70% {
        top: 0;
    }
    
    80% {
        top: -10px;
    }
    100% {
        top: 0;
    }
}
.nosotros p {
    font-family: 'Poppins';
    text-align: center;
    font-size: 1.18em;
    line-height: 29px;
    font-weight: 600;
    text-align: left;
}

.grid .datos-empresa{
    padding: 5px;
    margin-top: 80px;
    max-width: 550px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 16.8em);
    grid-template-rows: repeat(2, 330px);
    gap: 40px;

}
.grid .datos-empresa div{
   text-align: center;
}
.dato-1,
.dato-2, 
.dato-3, 
.dato-4 {
    padding: 10px 20px 9px;
    background-color: #F9F9F9;
    min-height: 256px;
    height: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.datos-empresa h3{
    padding: 10px 10px;
    font-family: 'Poppins';
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-weight: 900;
    letter-spacing: -0.05em;

}
.datos-empresa p{
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    

}
.sobrenosotros {
    margin: 10px 254px ;
    padding: 3px;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: 'Poppins';
}

.sobrenosotros-medio h2 {
    font-size: 30px;
    text-align: center;
  border-bottom: solid 1px rgba(0, 1, 0, 0.47);
   margin: 20px 10px;
}
.sobrenosotros-medio p {
    margin: 10px;
    font-weight: 700;
}

/*-----------------aca termina sobre nosotros---------------------*/



/*aca empieza el formulario de contacto REVISSSSSSSAR*/

.informacion {
    display: flex;
    align-items: center;
}
.informacion img {
   width: 450px;
   animation: imagen-movimiento 4s linear infinite;
}

@keyframes imagen-movimiento {
    0%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(15px);
    }
}


.informacion h1{ 
    margin-left: 10%;
    color: rgb(0, 0, 0);
    font-family: 'Poppins' ;
    font-size: 7.5em;
    font-weight: 800;
    text-shadow: 3px 5px 2px #474747;
    
}

 
  
.datosdecontacto {
  margin: 0 250px;
    display: flex;
    flex-direction: column;
   font-family: 'Poppins';
  

}

.datosdecontacto--info {
   
   font-family: 'Poppins';
    font-weight: 600;
    margin: 0;
    font-size: 20px;
   
}
.datosdecontacto--info span { 
  
 font-size: 27px;
 border-bottom: #000000 1px solid;
 color: rgb(0, 0, 0);
 }

.datosdecontacto--info p {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 2px;
    font-family: 'Poppins'
}
.fa-solid {
    padding: 5px;
}
.contacto {
   display: flex;
   width: 100%;
   min-width: 390px;
   

}

.formulario {
    margin: 50px;
    max-width: 550px;
    padding: 50px;
    display: flex;
   flex-direction: column;
   font-size: 1.2em;
   font-weight: 700;
   color: rgb(0, 0, 0);
   transition: all 0.5s;
}
.formulario:hover{
    background: linear-gradient( rgba(26, 32, 47, 0.195), rgba(26, 32, 47, 0.1955));
  border-radius: 20px;
}
.formulario input,
.formulario button,
.formulario textarea  {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  border-bottom: solid 1px #1f8f523e;
  outline: none;
  color:rgb(0, 0, 0);
 font-size: 1em;
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}


.formulario button{
    background-color: #000000;
    color: white;
    transition: all 0.5s;
    text-transform: uppercase;
    width: 30%;
}
.formulario button:hover{
    background-color: #f9f9f974;
    color: #000000;
    cursor: pointer;  
}
.botonformulario{
    font-family: inherit;
    font-size: 20px;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   .botonformulario span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    color: #20E800;
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   .botonformulario:hover span {
    transform: translateX(5em);
   
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   


/*aca termina el formulario de contacto*/


/*footer titulo y wpp*/

.titulofooter h1 {
    color: rgb(255, 255, 255);
    font-size: 6rem;
  text-align: center;
  font-weight: 400;
 
  
}
.titulofooter p {
    font-size: 60px;
    text-align: center;
    font-family:'Poppins' ;
    margin-bottom: 100px;
    color: #ffffff;
}
.titulofooter a{
    text-decoration: none;
    color: #ffffff;
    padding: 40px;
    text-align: center;
}
.titulofooter h1 span {
    color: #20E800;
}


/*footer titulo y wpp*/

/*footer pie de pagina*/

footer {
    background: url(img/edificiofooter.png) -1% 90% / auto 40.25em repeat-x rgb(0, 0, 0);
    background-attachment: scroll ;
    padding-top: 1.5625em;
    width: 100%;
    height: auto;
    text-align: left;
    color: rgb(253, 253, 253);
  
}

.contenedor-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;

}

.content-foo {
    text-align: center;
    
}



.contenedor-footer li{
    list-style: none;

}



.fa-solid {
    font-size: 20px;
}

/*------------------------empieza las cards----------------*/

.contenedortarjeta {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    }

.tarjeta {
    position: relative;
    width: 352px;
    height: 275px;
    margin: 10px 30px;
    justify-content: space-around;
    
}
.tarjeta div{
    position: absolute;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    backdrop-filter: blur(1rem);
    background: rgb(255, 255, 255, 0.060);
    border-radius: 30px;
    backface-visibility: hidden;
    transition: 1s;
    
    
}

.tarjeta .frente {
    background-color: rgba(0, 0, 0, 0.3);
    transform: perspective(500px) rotateY(0deg);
    background-size: cover;
    background-position: center;
    
    
}

.tarjeta .espalda {
    background-color: rgba(255, 255, 255, 0.974);
    transform: perspective(500px) rotateY(180deg);
}

.tarjeta .espalda li {
    list-style: none;
    margin: 2px ;
    padding-left: 10px;
    font-size: 19px;
    font-weight: 800;
    font-family:'Poppins' ;
    color: white;
    
}
.tarjeta h1 {
    font-family: 'Poppins';
    color: white;
    font-size: 50px;
    font-weight: 800;
    background-color: #81787859;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    
    
}
.tarjeta:hover .frente {
    transform: perspective(500px) rotateY(180deg);
}
.tarjeta:hover .espalda {
    background-color: rgba(255, 255, 255, 0.1);
    transform: perspective(500px) rotateY(360deg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    align-items: center;
    height: 300px;
    color: white;

}






/*pie de pagina copy*/

.pie {
    width: 100%;
    margin: 0;
    height: 5%;
    text-align: center;
    align-items: center;
    font-size: 12px;
    background: #2b2a2a;
    padding: 10px 0;
    color: white;
}



/*---------------------------RESOLUCION PARA CELULAR---------------------------*/

@media screen and (max-width: 600px) {
  
  
/*NAV SECCIONES MOVIL*/
.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
}
.navbar-secciones {
    background: linear-gradient(rgb(192 197 211 / 75%), rgb(243 243 243 / 97%)), url(/img/nav.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
}


.nav-menu {
    display: flex;
    text-decoration: none;
    flex-direction: column;
}
.nav-menu-link{
  
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
.nav-menu-link-negro{
  
    font-family: 'Poppins', sans-serif;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
}
  /*---------  
    .nav {
        display: block;
        text-align: justify;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        -webkit-animation: scale-in-top 1s linear 0.5s both;
         animation: scale-in-top 1s linear 0.5s both;
        }
   
    @keyframes scale-in-top {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          -webkit-transform-origin: 50% 0%;
                  transform-origin: 50% 0%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: 50% 0%;
                  transform-origin: 50% 0%;
          opacity: 1;
        }
      }
      
    .nav .logo{
        display: none
    }
    .nav-menu {
     display: flex;
     flex-direction: column;
     
    }
    
     .nav-menu-item a {
        font-size: 17px; 
     }
    nav------------*/


/*---------PARA VIDEO------------*/
    .conteiner {
        padding: 40px;
       }
       .absolute h1 {
        font-size: 85px;
        color: #fff;
        font-weight: 600;
        font-family: 'Poppins';
        
       }

       .absolute p {
        padding-top: 15px;
        font-size: 13px;
        color: #fff;
        font-weight: 600;
        transition: 0.5s;
        font-family: 'Poppins';
    }
    
    .back-video {
        width: 100%;
        height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     object-fit: cover;
     z-index: -1;
    
    }
    

.bottones-medio {
    margin: 50px 10px 20px 10px;
    display: none;
    flex-direction: column;
    gap: 15px;
}

.button-hover {
    padding: 10px 60px;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 0.5rem;
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 130;
    text-transform: uppercase;  
}

.bottones-medio > a {
 margin: 0 80px;
 border-radius: 50px;
 border:  0.1mm solid;
 border-color: hsl(0, 0%, 100%);
 transition-property: all;
 transition-duration: 1s;
}
.bottones-medio > a:hover { 
 border-color: transparent;
 background-color: hsla(0, 0%, 0%, 0.326);
  
}

.button-hover:hover {
  cursor: pointer;
  font-weight: 500;
  
}

.social {
   position: absolute;
   bottom: 50px;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 60px;
}
.social li{
    list-style: none;

}

.social li {
    display: inline-block; 
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}
.social li a {
color: white;
}
.social li:hover{
    transform: scale(0.5) translateY(-15px);
}

/*---------------VENTAS RESPONSIVE--------------------*/
.contenedorventas .items{
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-gap: 60px 20px;
    margin-bottom: 80px;
}       
.contenedorventas .tituloventas div  {
   height: 63px;
  
}
.tituloventas  {
   margin-bottom: 40px;
   margin-top: 45px;
 }
.contenedorventas .tituloventas div span {
    font-size: 47px;
    line-height: 47px;
    letter-spacing: -0.03em;
}
.contenedorventas .items .item-ventas img {
    min-height: 300px;
}


/*--------------VENTAS RESPONSIVE--------------------*/

/*---------------SOBRE NOSOTROS GRID RESPONSIVE--------------------*/
.contenedor-base {
    flex-direction: column;
 }
 .experiencia {
    flex-direction: column;
}
.objetivo{
    text-align: center;
}
.grid{
    max-width: 7.5rem;
    padding: 100px 0;
    display: grid;
    width: 100%;
    grid-template-columns:auto;
    grid-template-rows: auto auto;
    justify-content: center;
   
} 

.grid .datos-empresa {
    margin: auto;
    grid-template-columns: auto;
}
.nosotros{
    width: 100%;
    max-width: 100%;
    display: flex;
}
.nosotros div {
    height: 54px;
    margin-right: 18px;
    overflow: visible;
}
.nosotros div span{
    font-size: 30px;
    line-height: 47px;
    height: 34px;
   
    letter-spacing: -0.5rem;
    
}
.nosotros p{
    padding: 5vw;
}

/*---------------CONTACTO - MOVIL RESPONSIVE--------------------*/

.informacion h1 {
    font-size: 3.2rem;
    margin-bottom: 40px;
    margin: auto;
}

.informacion {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.informacion img{
   width: 150px;
}
.datosdecontacto--info h3 span {
    font-size: 1.5rem;
 }

.datosdecontacto--info {
font-size: 1rem;
margin: 37px;
}

.datosdecontacto {
    margin: auto;
    display: flex;
    font-family: Poppins;
    background: url(img/rayas-para-fondo.jpg) center top / cover no-repeat;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario button{
    width: 100%;
}
/*---------------FOOTER MOVIL RESPONSIVE--------------------*/

.titulofooter h1 {  
    font-size: 4.1rem;
}

.titulofooter p {
    font-size: 2.5em;
    margin-top: 0.5em;
}
.titulofooter a{
    padding: 0.5em;
    
}

footer {
    background: rgb(0, 0, 0);
    width: 100%;
}

.contenedor-footer {
    display: flex;
    flex-direction: column;
    background: url(img/edificiofooter.png) 50% 90% / auto 40.25em repeat rgb(0, 0, 0);
}

.content-foo {
    text-align: center;
    
}



.contenedor-footer li{
    list-style: none;

}



.fa-solid {
    font-size: 20px;
}


/*pie de pagina copy*/

.pie {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
    font-size: 12px;
    background: #2b2a2a;
    padding: 10px 0;
    color: white;
}
.contenedortarjeta {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    }

.tarjeta {
    position: relative;
    width: 22em;
    height: 23em;

    justify-content: space-around;
    
}
.tarjeta div{  
    height: 40%;  
}

.tarjeta h1 { 
    font-size: 3.1em; 
}

}







/*------------------------TABLET Y PC--------------------------*/


@media screen and (min-width:601px) and (max-width:1425px) {
 

   
    .nav {
        width: 100vw;
        padding: 1.25em 0;
        display: block;
        align-items: center;
        justify-content: space-around;
    }
    
    .nav .logo{
     width: 115px;

    }
    .img-fluid {
        max-width: 160px;
        height: auto;
    }
    .nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 0.5em;
    }
    
    .nav-menu-link{
        margin: 0.5rem 0.3rem;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.8em;
        font-family: 'Poppins', sans-serif;
        color: #ffffff;
        
    }
    
    .nav-menu {
        width: 100vw;
        justify-content: center;
        display: flex;
        text-decoration: none;
        align-items: center;
        flex-wrap: wrap;
    }

    .nav-menu-item {
    
        text-align: center;
        align-items: center;
        align-content: space-around; 
        transition: 0.5s;
    
    }
    
    .nav-menu-link {
        padding: 0.5em;
        
    }
    
   
    
    /*aca termina el nav con video*/
    
    /*----------------NAV PARA SECCIONES----------------------*/
    
    
    
    .nav-menu-link-negro{ 
         margin: 0.625em;
         font-weight: 700;
         font-size: 1em;       
    }
    
/*---------------------VIDEO-----------------*/
    .conteiner {
        padding: 40px;
       }
       .absolute h1 {
       margin-top: 200px;
        font-size: 90px;
        color: #fff;
        font-weight: 600;
        font-family: 'Poppins';
        
       }

       .absolute p {
        padding-top: 20px;
        font-size: 10px;
        color: #fff;
        font-weight: 500;
        transition: 0.5s;
        font-family: 'Poppins';
    }
    
    .back-video {
        width: 100%;
        height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     object-fit: cover;
     z-index: -1;
    
    }

 
.bottones-medio {
    margin: 100px auto;
    display: inline-block;
    text-align: center;
   

}

.button-hover {
    padding: 0.625em 3.75em;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 130;
    text-transform: uppercase;  
}

.bottones-medio > a {
 margin: 0 5em;
 border-radius: 3.125em;
 border:  0.1mm solid;
 border-color: hsl(0, 0%, 100%);
 transition-property: all;
 transition-duration: 1s;
}
.bottones-medio > a:hover { 
 border-color: transparent;
 background-color: hsla(0, 0%, 0%, 0.326);
 
 
}

.button-hover:hover {
  cursor: pointer;
  font-weight: 500;
  
}

.social {
   position: absolute;
   bottom: 0.5em;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3.75em;
}
.social li{
    list-style: none;

}

.social li {
    display: inline-block; 
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}
.social li a {
color: white;
}
.social li:hover{
    transform: scale(0.5) translateY(-15px);
}
/*---------------VENTAS RESPONSIVE--------------------*/

.tituloventas  {
    margin-top: 35px;
  }
/*---------------SOBRE NOSOTROS GRID RESPONSIVE--------------------*/
.contenedor-base {
    flex-direction: column;
 }
 .experiencia {
    flex-direction: column;
}
.objetivo{
    text-align: center;
}

.grid{
    max-width: 7.5rem;
     padding: 0 20px;
     display: grid;
    
     width: 100%;
    grid-template-columns: auto ;
    justify-content: center;
     gap: 60px ;
     
}  
.nosotros div span{
    font-size: 50px;
    line-height: 80px;
    
}
.nosotros p{
    margin-top: 2em;
}

/*---------------CONTACTO - MOVIL RESPONSIVE--------------------*/

.informacion h1 {
    font-size: 5rem;
    margin-bottom: 40px;
}

.informacion img{
    display: none;
 }

.datosdecontacto--info h3 span {
    font-size: 1.5rem;
 }

.datosdecontacto--info {
font-size: 1rem;
margin: 37px;

}

.datosdecontacto {
    margin: auto;
    display: flex;
    font-family: Poppins;
    background: url(img/rayas-para-fondo.jpg) center top / cover no-repeat;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario button{
    width: 100%;
}
/*---------------FOOTER RESPONSIVE--------------------*/
.titulofooter h1 { 
    font-size: 3.5em;
}

.titulofooter p {
    font-size: 2.5em;
    margin-top: 0.5em;
}
.titulofooter a{
    padding: 0.5em;
    
}

footer {
    background: url(img/edificiofooter.png) 50% 90% / auto 40.25em repeat-y rgb(0, 0, 0);
    padding-top: 1.5625em;
    width: 100vw;
    color: rgb(253, 253, 253);
  
    
}

.contenedor-footer {
    display: flex;
    flex-direction: column;
    
   
}

.content-foo {
    text-align: center;
    
}



.contenedor-footer li{
    list-style: none;

}



.fa-solid {
    font-size: 20px;
}


/*pie de pagina copy*/

.pie {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
    font-size: 12px;
    background: #2b2a2a;
    padding: 10px 0;
    color: white;
}
.contenedortarjeta {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    }

.tarjeta {
    position: relative;
    width: 22em;
    height: 31em;

    justify-content: space-around;
    
}
.tarjeta div{  
    height: 40%;  
}

.tarjeta h1 { 
    font-size: 3.1em; 
}


}
/*VER - ES EL FONDO PARA EL NAV */
@media screen and (max-width: 990px) {
    .navbar-secciones {
        background: linear-gradient(rgb(192 197 211 / 75%), rgb(243 243 243 / 97%)), url(/img/nav.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
}




/*VER DE CAMBIAR EL FLEX INERHIT POR WRAP, VE RPORUQE SE ROMPE LA PAGINA */

